mat-grid-tile.left{
    background:url("../../assets/wallpaper.jpg") no-repeat center center ;
    background-size:cover;
  
  }
  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  .logo{
    width:30%;
    height:30%;
  }