<!--navigation bar-->
<mat-toolbar color="primary">
        <mat-toolbar-row>
            <div style="margin-right:50px"><img src="../../assets/logo.png" class="logo"></div>
            <mat-icon>home</mat-icon>
            <button routerLink="/home" class="nav" style="margin-right:20px" mat-flat-button color="primary">Home</button>
            <mat-icon>library_music</mat-icon>
            <button routerLink="/market" class="nav" style="margin-right:20px" mat-flat-button color="primary">Market</button>
            <mat-icon>account_circle</mat-icon>
            <button routerLink="/profile" class="nav" mat-flat-button color="primary">Profile</button>
            <span style="flex: 1 1 auto;"></span>
            <mat-icon>logout</mat-icon>
            <button routerLink="/login" class="nav"  mat-flat-button color="primary">Logout</button>
            </mat-toolbar-row>
            </mat-toolbar>
          







<mat-grid-list cols="1"  rowHeight="400px">
    <mat-grid-tile class="top" rowHeight="100px">


           <!---Video Player-->
           
           <vg-player>
                <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                    <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
                </video>
            </vg-player>

    </mat-grid-tile>
    <mat-grid-tile class="bottom">

           
    </mat-grid-tile>
    </mat-grid-list>