.logo{
    width:50px;
    height:50px;
    position:absolute;
    top:7px;
    left:10px;
    padding-right:40px 
  }
  button.nav:hover{
    background:rgb(86, 12, 116);
  }
  button.nav:active{
    background:rgb(86, 12, 116);
  }
  mat-grid-list{
    
    top:0px !important;
  }
  mat-grid-tile.top{
    background:black;}